
# Finance Project

Data analysis of the following bank stocks from 1st Jan 2006 to 1st Jan 2016:
* Bank of America (BAC)
* CitiGroup	(C)
* Goldman Sachs (GS)
* JPMorgan Chase (JPM)
* Morgan Stanley (MS)
* Wells Fargo (WFC)

Finance data from Yahoo Finance - no API key required.

In [1]:
# IMPORT LIBRARIES
import numpy as np
import pandas as pd
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
%matplotlib inline

In [2]:
# IMPORT BANK DATA
BAC = web.DataReader('BAC', 'yahoo', start='2006-01-01', end='2016-01-01')
C = web.DataReader('C', 'yahoo', start='2006-01-01', end='2016-01-01')
GS = web.DataReader('GS', 'yahoo', start='2006-01-01', end='2016-01-01')
JPM = web.DataReader('JPM', 'yahoo', start='2006-01-01', end='2016-01-01')
MS = web.DataReader('MS', 'yahoo', start='2006-01-01', end='2016-01-01')
WFC = web.DataReader('WFC', 'yahoo', start='2006-01-01', end='2016-01-01')

In [3]:
# LIST OF TICKER SYMBOLS
ticker = ['BAC','C','GS','JPM','MS','WFC']
ticker.sort()

In [19]:
# CONCATENATE DATA FRAME AND APPLY COLUMN NAMES
df = pd.concat([BAC,C,GS,JPM,MS,WFC],axis=1,keys=ticker)
df.columns.names = ['Bank Ticker','Stock Info']
df.head(5)

Bank Ticker        BAC                                               \
Stock Info        High        Low       Open      Close      Volume
Date
2006-01-03   47.180000  46.150002  46.919998  47.080002  16296700.0
2006-01-04   47.240002  46.450001  47.000000  46.580002  17757900.0
2006-01-05   46.830002  46.320000  46.580002  46.639999  14970700.0
2006-01-06   46.910000  46.349998  46.799999  46.570000  12599800.0
2006-01-09   46.970001  46.360001  46.720001  46.599998  15619400.0

Bank Ticker                      C                                      \
Stock Info   Adj Close        High         Low        Open       Close
Date
2006-01-03   33.777504  493.799988  481.100006  490.000000  492.899994
2006-01-04   33.418770  491.000000  483.500000  488.600006  483.799988
2006-01-05   33.461811  487.799988  484.000000  484.399994  486.200012
2006-01-06   33.411613  489.000000  482.000000  488.799988  486.200012
2006-01-09   33.433128  487.399994  483.000000  486.000000  483.899994

Bank Ticker    ...             MS                                         WFC  \
Stock Info     ...           Open      Close     Volume  Adj Close       High
Date           ...
2006-01-03     ...      57.169998  58.310001  5377000.0  33.464504  31.975000
2006-01-04     ...      58.700001  58.349998  7977800.0  33.487457  31.820000
2006-01-05     ...      58.549999  58.509998  5778000.0  33.579292  31.555000
2006-01-06     ...      58.770000  58.570000  6889800.0  33.613716  31.775000
2006-01-09     ...      58.630001  59.189999  4144500.0  33.969536  31.825001

Bank Ticker
Stock Info         Low       Open      Close      Volume  Adj Close
Date
2006-01-03   31.195000  31.600000  31.900000  11016400.0  20.353483
2006-01-04   31.365000  31.799999  31.530001  10870000.0  20.117411
2006-01-05   31.309999  31.500000  31.495001  10158000.0  20.095076
2006-01-06   31.385000  31.580000  31.680000   8403800.0  20.213116
2006-01-09   31.555000  31.674999  31.674999   5619600.0  20.209927

[5 rows x 36 columns]